# Django #
*.log
*.pot
*.pyc
_pycache_
db.sqlite3
media/profile_pics/*
media/facility/*
migrations
migrations/*

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history