{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img src="https://dummyimage.com/600x400/000/fff">
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom">Facility Information</legend>
          {{ p_form|crispy }}
      </fieldset>
      <!-- <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Reserve</button>
      </div> -->
  </form> 
</div>
  
{% endblock content %}