{% extends "base.html" %}

{% block content %}

    

<div class="card-columns custom-card">
    {% for facility in facilities %}
    <a  href="{% url 'facility_detail' facility.id %}">
    <div class="card">
    <img src="{{ facility.image.url  }}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3 class="card-title text-left">{{facility.name}}</h3>
        <p class="card-text text-left">{{facility.description}}</p>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">Rate: P{{facility.rate}}</small>
      </div>
    </div>
  </a>
    {% endfor %}
  </div>

{% endblock content %}