{% extends "base.html" %} 

{% block content %}

{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
<div class="container">
  <h2>Weekly Income</h2>
  <table class="table" id="reservationTable">
    <thead>
        <tr>
            <th>Start Day</th>
            <th>End Day</th>
            <th>Income</th>
        </tr>
    </thead>
    <tbody>
      
            {%for income in income_list %}
           
            <tr>
                <td>
                    {{ income.week }}</a>
                </td>

                <td>
                    {{ income.end_week }}
                </td>

                <td>
                    PHP {{ income.income }}
                </td>
            </tr>
       
            {% endfor %}
        
       
        <p> NO RESERVATION </p>
    
    </tbody>
</table>
</div>

{% endblock content %}