{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card-columns custom-card">
  {% for reservation in reservations %}
  <div class="card">
    <img src="{{ reservation.facility.image.url  }}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h3 style="color: rgb(71, 199, 221)" class="card-title text-center">{{ reservation.facility.name }}</h3>
      <p class="card-text text-center">{{ reservation.start_time }} to {{ reservation.end_time }}</p>
      {% if reservation.status == 'SUCCESS' %}
      <small class="text-success">
      {% else %}
      <small class="text-warning">
      {% endif %}
     {{ reservation.status }}</small><br />
      <hr />
      <p>Requested by: {{ reservation.user.last_name}}, {{ reservation.user.first_name }}</p>
      {% if reservation.status == 'PENDING FOR CANCELLATION' %}
      <p>Cancellation Reason: <br />
        <p>{{ reservation.cancellation_note }} </p>
      </p>
      {% endif %}

    </div>
    <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
      <fieldset class="form-group">
        <input type="hidden" name="reservation" value="{{reservation.id}}">
        <legend class="border-bottom"></legend>
      </fieldset>
      {% if reservation.status == 'PENDING FOR CANCELLATION' %}
      <div class="form-group text-center">
        <a class="btn btn-outline-info" href="{% url 'approve_cancellation' reservation.id %}">Approve Cancellation</a>
      </div>
      {% endif %}
    </form>
  </div>
  </a>
  {% endfor %}

</div>


{% endblock content %}