{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    

<div class="card-columns custom-card">
    {% for reservation in reservations %}
    <div class="card">
    <img src="{{ reservation.facility.image.url  }}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h3 style="color: rgb(71, 199, 221)" class="card-title text-center">{{ reservation.facility.name }}</h3>
        <p class="card-text text-center small">{{ reservation.start_time }} to {{ reservation.end_time }}</p>
        <h4>P{{ reservation.total_amount }}</h4>
        <small style="color: green;">{{ reservation.status }}</small>
      </div>
      {% if reservation.status == 'SUCCESS'%}
      <div class="card-footer text-center">
        <a class="btn btn-outline-info" href="{% url 'cancellation' reservation.id %}">Request Cancelation</a>
      </div>
      {% endif %}
    </div>
  </a>
    {% endfor %}
  </div>
  {{ services }}
hello

{% endblock content %}