{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <!-- <img src="{{ facility.image.url  }}">
  <h4>{{ facility.name }}</h4>
  <h6>Capacity: {{ facility.capacity }}</h6>
  <h6><span>P{{ facility.rate }}/hr</h6>
  <button class="btn btn-success">Reserve</button> -->

  <!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-md-10">
      <h1 class="my-4">{{ vehicle.name }}
        <small><h6><span>P{{ vehicle.rate }}/hr</h6></small>
      </h1>
    </div>
    <div class="col-md2">
      <a href="{% url 'reserve_vehicle' vehicle.id %}" class="btn btn-lg btn-success my-4">Reserve</button></a>
    </div>

</div>

  <!-- Portfolio Item Row -->
  <div class="row my-3">

    <div class="col-md-8">
      <a-scene embedded>
        <a-sky src="{{ vehicle.image.url }}"></a-sky>
    </a-scene>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>{{vehicle.description}}</p>
    </div>

  </div>



</div>
<!-- /.container -->
</div>
  
{% endblock content %}