{% extends "base.html" %}
{% block content %}
<div class="col-12-xs">
    <div class="row justify-content-md-center">
        <img src="/media/logo.png" style="width:50%; height:50%;">
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4-md">

            <h1>Welcome to DLSU-D Facilities Reservation</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4-md mt-4 mb-4">
            <a class="btn btn-primary btn-lg" href="{% url 'facility_list' %}">Reserve Now </a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div style="width: 1150px; height: 300px; overflow: hidden">
            <img src="/media/_banner-tourDLSUD.png" class="card-img-top" alt="..." width="500" height="600">
        </div>
    </div>
    <hr>

    <div class="row justify-content-md-center mt-4 mb-4"" style="background-image: linear-gradient(#ccffcc, white);">
        <div class="col-4-md">
            <h1>Guidelines</h1>
        </div>
    </div>

    <ul>
        <li>1.Reservation follows a FIRST COME, FIRST SERVE BASIS.</li> 

        <li>2.To give ample time for the admin to setup your reservation. It is advised to make your reservations one week ahead of your desired schedule.</li> 
        
        <li>3.An email notification will be sent out to the user's registered email address for approved reservations.</li> 
        
        <li>4.Cancellation requests can be done any day before the scheduled reservation. The admin will assess the reason for cancellation and decide whether to accept or deny the request.</li>
        
        <li> 5.Requisitioners are advised to come to their respective schedules one hour before their schedule.</li>
    </ul>
    <hr>



    <div class="row justify-content-md-center mt-4 mb-4"" style="background-image: linear-gradient(#ccffcc, white);">
        <div class="col-4-md">
            <h1>About us</h1>
        </div>
    </div>

    
    <div class="row justify-content-md-center mt-4 mb-4"">
        <p style="text-align:center">
            FaRes is made by two college students namely Genten Lalas and Ramon Delos Reyes. They envision to make
            reservations in DLSU-D to be easy and accessible online.</p>
        <p style="text-align: center">
            FaRes is an online reservation website that is specially made for DLSU-D. It has it's own online payment
            system and inside it are the facilities available for students, professors or guests to reserve.
        </p>
    </div>
    <hr>


    <div class="row justify-content-md-center mt-4 mb-4"" style="background-image: linear-gradient(#ccffcc, white);">
        <div class="col-4-md">
            <h1>Why Choose us?</h1>
        </div>
    </div>
    <div class="row justify-content-md-center mt-4 mb-4"">
        <p style="text-align:center"> Our team wishes to innovate reservations made inside DLSU-D. The reservation
            process is quick and simple. We provide a 360 view of the facilities without needing you to go on the spot
        </p>
    </div>
    <hr>

</div>
{% endblock content %}