<html>
<body>
    <p>Hello, {{ user }},</p>

            <p>We would like to inform you that you have <b>successfully<b> reserved your slot at
        {{ reservation.facility }} on {{ reservation.start_time }} to {{ reservation.end_time }}.</p> <br>
        <p>For more details and queries you can contact us at 555-555-555 or email us at dlsudfacility@gmail.com. <br>
        Note: Please do come <b>1 hour</b> before your scheduled reservation.</p><br>
    
        <p>Thank you for reserving with us,</p>
        
        <b>FaRes</b>
</body>
</html>